Drop ID column

Drop NA

Drop "Other"

Drop age less than 21 because the questions presented to make the predicted dont apply to them

In [44]:
import pandas as pd
data = pd.read_csv("healthcare-dataset-stroke-data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

Drop NA

In [45]:
balanced_data = data.dropna()

balanced_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4909 non-null   int64
 1   gender             4909 non-null   object
 2   age                4909 non-null   float64
 3   hypertension       4909 non-null   int64
 4   heart_disease      4909 non-null   int64
 5   ever_married       4909 non-null   object
 6   work_type          4909 non-null   object
 7   Residence_type     4909 non-null   object
 8   avg_glucose_level  4909 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     4909 non-null   object
 11  stroke             4909 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 498.6+ KB

Drop ID

In [46]:
balanced_data = balanced_data.drop(columns= "id")

balanced_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4909 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   object
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   object
 5   work_type          4909 non-null   object
 6   Residence_type     4909 non-null   object
 7   avg_glucose_level  4909 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     4909 non-null   object
 10  stroke             4909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.2+ KB
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

Drop anyone younger than 21 years old

In [47]:
balanced_data = balanced_data[balanced_data.age > 20]
print("Lowest age:", balanced_data["age"].min())
balanced_data.info()

Lowest age: 21.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3909 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             3909 non-null   object
 1   age                3909 non-null   float64
 2   hypertension       3909 non-null   int64
 3   heart_disease      3909 non-null   int64
 4   ever_married       3909 non-null   object
 5   work_type          3909 non-null   object
 6   Residence_type     3909 non-null   object
 7   avg_glucose_level  3909 non-null   float64
 8   bmi                3909 non-null   float64
 9   smoking_status     3909 non-null   object
 10  stroke             3909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 366.5+ KB
Private          2533
Self-employed     758
Govt_job          617
Never_worked        1
Name: work_type, dtype: int64

Drop "Other" in gender field

In [48]:
balanced_data = balanced_data.drop(balanced_data.index[balanced_data["gender"] == "Other"])

balanced_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3908 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             3908 non-null   object
 1   age                3908 non-null   float64
 2   hypertension       3908 non-null   int64
 3   heart_disease      3908 non-null   int64
 4   ever_married       3908 non-null   object
 5   work_type          3908 non-null   object
 6   Residence_type     3908 non-null   object
 7   avg_glucose_level  3908 non-null   float64
 8   bmi                3908 non-null   float64
 9   smoking_status     3908 non-null   object
 10  stroke             3908 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 366.4+ KB

In [49]:
features = ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', "bmi", "smoking_status"]
cat_columns = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status', 'hypertension', 'heart_disease']
num_columns = ['age', 'avg_glucose_level', 'bmi']

SPLIT

In [50]:
from sklearn.model_selection import train_test_split

bal_data_train, bal_data_test = train_test_split(balanced_data, train_size = 0.8, random_state=1)

X_train = bal_data_train.drop('stroke', axis = 1)
y_train = bal_data_train['stroke']

X_test = bal_data_test.drop('stroke', axis = 1)
y_test = bal_data_test['stroke']

In [51]:
from imblearn.over_sampling import SMOTE, SMOTENC

smotenc = SMOTENC(cat_columns, random_state= 1)

In [52]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

preprocessing = ColumnTransformer([
    ('one-hot-encoder', OneHotEncoder(sparse_output=False), cat_columns),
    ('scaler', StandardScaler(), num_columns)
])

X_train_smotenc, y_train_smotenc = smotenc.fit_resample(X_train, y_train)
X_train_preprocess = preprocessing.fit_transform(X_train_smotenc)

print(X_train_smotenc.shape)
print(X_train_preprocess.shape)

X_train_smotenc

(5930, 10)
(5930, 21)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Female,60.000000,0,0,Yes,Private,Rural,99.000000,26.100000,never smoked
1,Male,62.000000,0,0,Yes,Private,Rural,115.130000,30.000000,smokes
2,Female,33.000000,0,0,No,Private,Urban,78.340000,25.500000,never smoked
3,Female,29.000000,0,0,No,Private,Urban,56.640000,24.700000,never smoked
4,Male,51.000000,1,0,Yes,Private,Urban,76.100000,32.100000,smokes
...,...,...,...,...,...,...,...,...,...,...
5925,Female,81.000000,0,0,Yes,Self-employed,Urban,71.177511,25.974803,never smoked
5926,Female,57.309521,0,0,Yes,Private,Rural,65.073119,31.383349,never smoked
5927,Female,72.541054,0,0,Yes,Private,Rural,222.324098,29.737202,never smoked
5928,Male,73.503568,1,0,Yes,Self-employed,Urban,198.027273,26.906384,never smoked
5929,Male,61.639626,0,0,Yes,Private,Urban,198.039766,36.261935,formerly smoked

In [53]:
from sklearn.tree import DecisionTreeClassifier

dt_smotenc = DecisionTreeClassifier(random_state= 1)

dt_smotenc.fit(X_train_preprocess, y_train_smotenc)

DecisionTreeClassifier(random_state=1)

SMOTENC TEST

In [54]:
X_test_preprocess = preprocessing.transform(X_test)

prediction = dt_smotenc.predict(X_test_preprocess)

RECALL SCORE

In [55]:
from sklearn.metrics import recall_score

print("Recall score:", recall_score(y_test, prediction))

Recall score: 0.2765957446808511

Combine it into a pipeline

In [56]:
from imblearn.pipeline import Pipeline as imb_pipeline

combined_pipeline = imb_pipeline(steps= [
        ("smotenc", SMOTENC(cat_columns, random_state = 1)),
        ('preprocessing', preprocessing),
        ('model', DecisionTreeClassifier(random_state = 1))
       ])

combined_pipeline.fit(X_train, y_train)

pipeline_prediction = combined_pipeline.predict(X_test)

print("Recall score for pipeline:", recall_score(y_test, pipeline_prediction))

Recall score for pipeline: 0.2765957446808511

In [58]:
import joblib

joblib.dump(combined_pipeline, 'pipeline_for_app_3.pkl')

['pipeline_for_app_3.pkl']